/**************************************************************************/
/************************************|*************************************/
/**************************************************************************/
.aligncenter {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.floatleft {
  float: left !important;
}
.floatright {
  float: right !important;
}
.margin0 {
  margin: 0px !important;
}
.margin0_top {
  margin-top: 0px !important;
}
.margin0_right {
  margin-right: 0px !important;
}
.margin0_bottom {
  margin-bottom: 0px !important;
}
.margin0_left {
  margin-left: 0px !important;
}
.margin5 {
  margin: 5px !important;
}
.margin5_top {
  margin-top: 5px !important;
}
.margin5_right {
  margin-right: 5px !important;
}
.margin5_bottom {
  margin-bottom: 5px !important;
}
.margin5_left {
  margin-left: 5px !important;
}
.margin10 {
  margin: 10px !important;
}
.margin10_top {
  margin-top: 10px !important;
}
.margin10_right {
  margin-right: 10px !important;
}
.margin10_bottom {
  margin-bottom: 10px !important;
}
.margin10_left {
  margin-left: 10px !important;
}
.margin15 {
  margin: 15px !important;
}
.margin15_top {
  margin-top: 15px !important;
}
.margin15_right {
  margin-right: 15px !important;
}
.margin15_bottom {
  margin-bottom: 15px !important;
}
.margin15_left {
  margin-left: 15px !important;
}
.margin20 {
  margin: 20px !important;
}
.margin20_top {
  margin-top: 20px !important;
}
.margin20_right {
  margin-right: 20px !important;
}
.margin20_bottom {
  margin-bottom: 20px !important;
}
.margin20_left {
  margin-left: 20px !important;
}
.padding0 {
  padding: 0px !important;
}
.padding0_top {
  padding-top: 0px !important;
}
.padding0_right {
  padding-right: 0px !important;
}
.padding0_bottom {
  padding-bottom: 0px !important;
}
.padding0_left {
  padding-left: 0px !important;
}
.padding5 {
  padding: 5px !important;
}
.padding5_top {
  padding-top: 5px !important;
}
.padding5_right {
  padding-right: 5px !important;
}
.padding5_bottom {
  padding-bottom: 5px !important;
}
.padding5_left {
  padding-left: 5px !important;
}
.padding10 {
  padding: 10px !important;
}
.padding10_top {
  padding-top: 10px !important;
}
.padding10_right {
  padding-right: 10px !important;
}
.padding10_bottom {
  padding-bottom: 10px !important;
}
.padding10_left {
  padding-left: 10px !important;
}
.padding15 {
  padding: 15px !important;
}
.padding15_top {
  padding-top: 15px !important;
}
.padding15_right {
  padding-right: 15px !important;
}
.padding15_bottom {
  padding-bottom: 15px !important;
}
.padding15_left {
  padding-left: 15px !important;
}
.padding20 {
  padding: 20px !important;
}
.padding20_top {
  padding-top: 20px !important;
}
.padding20_right {
  padding-right: 20px !important;
}
.padding20_bottom {
  padding-bottom: 20px !important;
}
.padding20_left {
  padding-left: 20px !important;
}
.border {
  border: 1px solid black;
}
.border_bottom {
  border-bottom: 1px solid black;
}
.border_top {
  border-top: 1px solid black;
}
.border_left {
  border-left: 1px solid black;
}
.border_right {
  border-right: 1px solid black;
}
.centermargin {
  margin: 0 auto 0 !important;
}
.relative {
  position: relative;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.width5 {
  width: 5% !important;
}
.width10 {
  width: 10% !important;
}
.width15 {
  width: 15% !important;
}
.width20 {
  width: 20% !important;
}
.width25 {
  width: 25% !important;
}
.width30 {
  width: 30% !important;
}
.width35 {
  width: 35% !important;
}
.width40 {
  width: 40% !important;
}
.width45 {
  width: 45% !important;
}
.width50 {
  width: 50% !important;
}
.width55 {
  width: 55% !important;
}
.width60 {
  width: 60% !important;
}
.width65 {
  width: 65% !important;
}
.width70 {
  width: 70% !important;
}
.width75 {
  width: 75% !important;
}
.width80 {
  width: 80% !important;
}
.width85 {
  width: 85% !important;
}
.width90 {
  width: 90% !important;
}
.width95 {
  width: 95% !important;
}
.width100 {
  width: 100% !important;
}
/******************************Font******************************/
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.font8pt {
  font-size: 8pt !important;
}
.font9pt {
  font-size: 9pt !important;
}
.font10pt {
  font-size: 10pt !important;
}
.font11pt {
  font-size: 11pt !important;
}
.font12pt {
  font-size: 12pt !important;
}
.font13pt {
  font-size: 13pt !important;
}
.font14pt {
  font-size: 14pt !important;
}
.font15pt {
  font-size: 15pt !important;
}
.font16pt {
  font-size: 16pt !important;
}
.font17pt {
  font-size: 17pt !important;
}
.font18pt {
  font-size: 18pt !important;
}
.font19pt {
  font-size: 19pt !important;
}
.font20pt {
  font-size: 20pt !important;
}
.font21pt {
  font-size: 21pt !important;
}
.font22pt {
  font-size: 22pt !important;
}
.font23pt {
  font-size: 23pt !important;
}
.font24pt {
  font-size: 24pt !important;
}
.font25pt {
  font-size: 25pt !important;
}
.font26pt {
  font-size: 26pt !important;
}
.font27pt {
  font-size: 27pt !important;
}
.font28pt {
  font-size: 28pt !important;
}
.font29pt {
  font-size: 29pt !important;
}
.font30pt {
  font-size: 30pt !important;
}
body {
  background-color: gray;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
}
a {
  color: white;
}
a:hover {
  color: #acacac;
}
#wrapper header h1 {
  display: block;
  margin: 20px;
  color: white;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  font-size: 40px;
}
#wrapper nav {
  height: 35px;
  background: #004b00;
  background: -moz-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #009600), color-stop(100%, #004b00));
  background: -webkit-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -o-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -ms-linear-gradient(top, #009600 1%, #004b00 100%);
  background: linear-gradient(to bottom, #009600 1%, #004b00 100%);
  padding: 5px 5px 0px 5px;
  color: white;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  font-size: 20px;
}
#wrapper nav a {
  /*stylize*/

  text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.15);
  /*size and pos*/

  position: relative;
  margin: 5px 0px 0px 10px;
  /*font*/

  color: white;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  font-size: 22px;
  text-decoration: none;
}
#wrapper nav a:visted {
  color: white;
}
#wrapper nav a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}
#wrapper .content {
  margin: 0 auto 0 !important;
  width: 1155px;
  margin-top: 10px !important;
  /***********************************Login**********************************/

  /**************************************************************************/

  /********************************admin tables************************/

  /********************************************************************/

}
#wrapper .content .pageTitle {
  text-align: center;
}
#wrapper .content a {
  text-decoration: underline;
}
#wrapper .content .mainForm {
  width: 300px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
}
#wrapper .content .mainForm h1 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
}
#wrapper .content .createSurveyForm {
  width: 800px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  text-align: center;
}
#wrapper .content .createSurveyForm table {
  width: 100%;
}
#wrapper .content .createSurveyForm h1 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
}
#wrapper .content .createSurveyForm input[type="text"],
#wrapper .content .createSurveyForm input[type="password"] {
  width: 600px;
}
#wrapper .content .createSurveyForm input[type="button"],
#wrapper .content .createSurveyForm input[type="submit"] {
  width: 300px;
}
#wrapper .content .createSurveyForm textarea {
  width: 600px;
}
#wrapper .content .surveyForm,
#wrapper .content .resultsPage,
#wrapper .content .backIndex {
  width: 800px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
}
#wrapper .content .surveyForm fieldset,
#wrapper .content .resultsPage fieldset,
#wrapper .content .backIndex fieldset {
  border-bottom: 1px dotted #585858;
}
#wrapper .content .users {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
#wrapper .content .users tr:nth-child(1) {
  background: #004b00;
  background: -moz-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #009600), color-stop(100%, #004b00));
  background: -webkit-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -o-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -ms-linear-gradient(top, #009600 1%, #004b00 100%);
  background: linear-gradient(to bottom, #009600 1%, #004b00 100%);
  height: 27px;
  color: white;
}
#wrapper .content .users td {
  vertical-align: middle;
}
#wrapper .content .users .data {
  height: 30px;
  background-color: #747373;
  border-bottom: 1px solid black;
}
#wrapper .content .users .data td:nth-child(1) {
  padding-left: 2px;
}
#wrapper .content .users .data:hover {
  background-color: #535353;
}
#wrapper .content .pagesLinks {
  margin: 5px auto 0;
  width: 50% !important;
  text-align: center;
}
#wrapper .content .pagesLinks a {
  margin: 3px;
  font-size: 13pt !important;
}
#wrapper .content .pagesLinks .active {
  color: white;
}
#footer {
  margin-top: 20px;
  height: 28px;
  background: #004b00;
  background: -moz-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #009600), color-stop(100%, #004b00));
  background: -webkit-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -o-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -ms-linear-gradient(top, #009600 1%, #004b00 100%);
  background: linear-gradient(to bottom, #009600 1%, #004b00 100%);
  color: white;
  text-align: center;
}
#footer p {
  padding-top: 3px;
}
#footer a {
  color: white;
}
/**************************************************************************/
/*********************************Utilities********************************/
/**************************************************************************/
.slightBorder {
  border: 1px dotted #585858;
}
.slightBorder_bottom {
  border-bottom: 1px dotted #585858;
}
.slightBorder_top {
  border-top: 1px dotted #585858;
}
.slightBorder_left {
  border-left: 1px dotted #585858;
}
.slightBorder_right {
  border-right: 1px dotted #585858;
}
.errorInput,
.errorInput:hover {
  -moz-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  -o-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  outline: none;
}
.sortable {
  margin: 0;
}
.successBanner {
  color: #fff;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #303030;
  height: 50px;
  text-align: center;
}
.successBanner .greenHat {
  position: relative;
  background-color: #006900;
  height: 10px;
  margin-bottom: 4px;
}
.successBanner .redHat {
  position: relative;
  background-color: #690000;
  height: 10px;
  margin-bottom: 4px;
}
.redButton {
  background: #4b0000 !important;
  background: -moz-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #7d0000), color-stop(100%, #4b0000)) !important;
  background: -webkit-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: -o-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: -ms-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: linear-gradient(to bottom, #7d0000 1%, #4b0000 100%) !important;
  cursor: default !important;
}
input {
  margin-top: 10px;
}
input[type="text"],
input[type="password"] {
  width: 282px;
  padding: 8px 4px 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #2e2828;
  /* Fallback for shity ie */

  border: 1px solid rgba(46, 40, 40, 0.8);
  background: rgba(0, 0, 0, 0.15);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  font-size: 13px;
}
input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #333;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
  outline: none;
}
input[type="button"],
input[type="submit"] {
  /* Size and position */

  width: 100%;
  padding: 8px 5px;
  /* Styles */

  background: #004b00;
  background: -moz-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #009600), color-stop(100%, #004b00));
  background: -webkit-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -o-linear-gradient(top, #009600 1%, #004b00 100%);
  background: -ms-linear-gradient(top, #009600 1%, #004b00 100%);
  background: linear-gradient(to bottom, #009600 1%, #004b00 100%);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #4e3043;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* Font styles */

  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
}
textarea {
  margin-top: 10px;
  height: 65px;
  width: 282px;
  padding: 8px 4px 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #2e2828;
  /* Fallback for shity ie */

  border: 1px solid rgba(46, 40, 40, 0.8);
  background: rgba(0, 0, 0, 0.15);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  font-size: 13px;
}
#errors {
  text-transform: capitalize;
  line-height: 12pt;
  color: #f74c4c;
  display: none;
  font-size: 10pt;
  margin-bottom: 10px;
}
